<% layout("layouts/boilerplate") %>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="campground[title]"
          id="title"
          class="form-control"
          value="<%= campground.title %>"
          required
        />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input
            type="text"
            name="campground[price]"
            id="price"
            class="form-control"
            value="<%= campground.price %>"
            required
          />
          <span class="input-group-text">USD</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="campground[location]"
          id="location"
          class="form-control"
          value="<%= campground.location %>"
          required
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="campground[description]"
          id="description"
          cols="30"
          rows="10"
          class="form-control"
          required
        >
<%= campground.description %></textarea
        >
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Add Images</label>
        <input
          type="file"
          name="image"
          id="image"
          class="form-control"
          value="<%= campground.images %>"
          multiple
        />
      </div>
      <div class="mb-3">
        <% campground.images.forEach((img, i) => { %>
        <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            name="deleteImages[]"
            id="img-<%= i %>"
            value="<%= img.filename %>"
          />
          <label for="img-<%= i %>">Delete?</label>
        </div>
        <% }) %>
      </div>
      <button class="btn btn-info">Update Campground</button>
    </form>
  </div>
</div>
